doctype html
html
  head
    title= t("plugin:editors.recycleBin.title")
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    h1 WIP

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="index.js")
